.super-mario {
  width: 200px;
  left: 90px;
  top: 80px;
  position: absolute

}

.goomba {
  width: 100px;
  left: 120px;
  top: 400px;
  position: absolute
  
}

.baloon {
  width: 200px;
  left: 500px;
  top: 350px;
  position: absolute
  
}

.speach {
  font-size: 25px;
  left: 500px;
  top: 350px;
  position: absolute
  z-index: index;2
}

.bowser {
  width: 200px;
  left: 680px;
  top: 460px;
  position: absolute

}